[Unit]
Description=Open source automation service with a web console
After=network.target

[Service]
User=rundeck
Type=simple
EnvironmentFile=/etc/conf.d/rundeck
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rundeck
ExecStart=/bin/sh -c 'eval $RUNDECK_COMMAND_LINE'
#MemoryLimit=768M
OOMScoreAdjust=-1000
LimitCPU=infinity
LimitFSIZE=infinity
LimitDATA=infinity
LimitCORE=0
LimitAS=infinity
LimitLOCKS=infinity

[Install]
WantedBy=multi-user.target
